<section class="page-header">
  <div class="page-header__container">
    <h2 class="heading">„Those who cannot remember the past are condemned to repeat it.“</h2>
  </div>
</section>

<page-section [bttButton]="false">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="arrow">Geschichte des Corps Suevo-Guestphalia und des Grünen Kartells</h1>
        <p>Seit ihrer Gründung im Jahre 1877 hatte Suevo-Guestphalia insgesamt weit über 1000 Mitglieder; heute sind es
          200. Sie kommen aus allen Regionen Deutschlands und aus dem Ausland. Fast alle Fakultäten sind vertreten.
          Heute stammen die Mitglieder zu etwa gleichen Teilen von der Universität und der Technischen Hochschule, aber
          auch von der Hochschule der Bundeswehr und von Fachhochschulen. Viele bekannte Männer aus Wirtschaft, Technik
          und Wissenschaft waren und sind Mitglieder des Corps. Dazu gehören Professor Dr. Claude Dornier, der Gründer
          des bekannten Luftfahrtunternehmens, Professor Robert von Ostertag, ein international bekannter Wegbereiter
          der Tiermedizin, Dr. Erich Plassmann, Vorstandsmitglied der Dyckerhoff AG und Ehrensenator der TH Stuttgart
          und auch heute viele andere leitende Persönlichkeiten in Unternehmen, Freien Berufen, in der staatlichen
          Verwaltung und Verbänden.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>10. Dezember 1877</h4>
              </div>
              <div class="timeline-body">
                <p >Das Corps Suevo-Guestphalia entstand im wesentlichen aus 2 Stammcorps, der 1877 an
                  der Tierarzneischule Stuttgart gegründeten Suevia...</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>1883</h4>
              </div>
              <div class="timeline-body">
                <p >... und der 1883 in München gegründeten Guestphalia. Guestphalia war zunächst an
                  der Universität München zugelassen. </p>
              </div>
            </div>
          </li>
          <li>
            
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>1905</h4>
              </div>
              <div class="timeline-body">
                <p >1905 trat Guestphalia dem Weinheimer Senioren-Convent (WSC), dem Verband der Corps
                  an den Technischen Hochschulen, bei und wurde an der Technischen Hochschule zugelassen. Guestphalia
                  wurde damit das erste Weinheimer Corps in München. </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>1930er Jahre</h4>
              </div>
              <div class="timeline-body">
                <p >Nach dem ersten Weltkrieg entwickelten sich beide Corps sehr erfolgreich und
                  erlebten einen starken Zustrom junger Studenten. Die Aufwärtsentwicklung wurde jedoch durch das
                  nationalsozialistische System unterbrochen. Nach zunehmenden Konflikten wurden die studentischen
                  Korporationen, und zwar zuerst die Corps, verboten. 1935 löste sich der WSC auf. 1936 wurden auch
                  Suevo-Salingia und Guestphalia, ebenso wie die anderen Münchner Corps, aufgelöst und in
                  nationalsozialistisch bestimmte Kameradschaften überführt. </p>
              </div>
            </div>
          </li>
          <li>
            
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>1949</h4>
              </div>
              <div class="timeline-body">
                <p >Schon kurz nach dem Ende des zweiten Weltkriegs wurden beide Corps im Jahre 1949
                  wieder eröffnet. </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>1963</h4>
              </div>
              <div class="timeline-body">
                <p > 1963 schlossen sie sich zum Corps Suevo-Guestphalia zusammen. Es übernahm die
                  traditionell von beiden Stammcorps geführten Farben schwarz-weiss-grün, die auch eine besondere
                  landsmannschaftliche Verbindung zu Westfalen zum Ausdruck bringen. Ein neues, modernes Corpshaus wurde
                  in Schwabing in der Ungererstraße 33 errichtet. Es dient seitdem allen alten und jungen Corpsbrüdern
                  als ihr Münchner Heim. </p>
              </div>
            </div>
          </li>
          <li>
            
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>{{today | date}}</h4>
              </div>
              <div class="timeline-body">
                <p>Auch in Zukunft wird sich das Corps Suevo-Guestphalia im Sinne ihres alten
                  Wahlspruchs "Unus pro Omnibus, omnes pro uno" für die Erhaltung und Fortführung ihrer
                  Lebensgemeinschaft, für die persönliche und berufliche Entwicklung ihrer Corpsbrüder, für die
                  Weiterentwicklung ihrer Grundsätze und Traditionen und für die Bewältigung aller Herausforderungen der
                  modernen, globalisierten Hochschul- und Berufswelt einsetzen. </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</page-section>
