<page-section [bttButton]="false">

  <div *ngIf="!events">
    <div class="text-center">
      <i class="fa fa-spin fa-spinner fa-5x"></i>
      <br>
      Loading events...
    </div>
  </div>

  <div class="calendar" *ngIf="events">
    <div>
      <div>
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'de' }}</h3>
      </div>

      <div class="clear-fix">
        <div class="pull-left">
          <div
              class="btn btn-primary"
              (click)="view = CalendarView.Month"
              [class.active]="view === CalendarView.Month">
            Monat
          </div>
          <div
              class="btn btn-primary"
              (click)="view = CalendarView.Week"
              [class.active]="view === CalendarView.Week">
            Woche
          </div>
        </div>

        <div class="pull-right">
          <div
              class="btn btn-primary"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false">
            &lt;
          </div>
          <div
              class="btn btn-outline-secondary"
              mwlCalendarToday
              [(viewDate)]="viewDate">
            Heute
          </div>
          <div
              class="btn btn-primary"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false">
            &gt;
          </div>
        </div>
      </div>
    </div>
    <br>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [locale]="locale"
          [weekStartsOn]="1"
          [weekendDays]="[0, 6]"
          [@.disabled]="true"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          [cellTemplate]="customCellTemplate"
          (dayClicked)="dayClicked($event.day)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [locale]="locale"
          [weekStartsOn]="1"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh">
      </mwl-calendar-week-view>
    </div>
    <br>
    <a class="btn pull-right" href="http://www.suevo-guestphalia.de/srp.ics" target="_blank">Download as .ical</a>
  </div>


  <ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cell" [ngClass]="{'hasEvents': day.events.length > 0, 'not-this-month': !isThisMonth(day)}" [title]="day.events[0]?.title">
      <div class="cal-cell-top">
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
      </div>
      <i *ngIf="day.events.length > 0" [class]="day.events[0].meta.icon+' fa-3x cell-icon'"></i>
    </div>
  </ng-template>



</page-section>
