h3 {
    margin: 0 0 10px;
}

pre {
    background-color: #F5F5F5;
    padding: 15px;
}

::ng-deep {

    .calendar {
        padding: 15px;
        width: calc(100% - 30px);
    }

    .cell {
        height: 100%;
        max-height: 100px;
        width: 100%;
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;

        &.hasEvents {
            text-align: center;
            background-color: #007F00;

            &.not-this-month {
                background-color: #50A152;
                color: #545454;
            }

            .cell-icon {
                position: relative;
                margin-top: -50px;
            }
        }
    }
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear-fix {
    overflow: auto;
}
