$c-black: #000;
$c-white: #fff;

$c-light: #F3F5F8;
$c-light-hover: darken(#F3F5F8, 10%);
$c-light-lighten: lighten(#F3F5F8, 50%);
$c-light-darken: darken(#F3F5F8, 50%);

$c-dark: #242830;
$c-dark-hover: lighten(#242830, 10%);
$c-dark-lighten: lighten(#242830, 50%);
$c-dark-darken: darken(#242830, 50%);

$c-green: #008000;
$c-green-hover: lighten(#008000, 10%);
$c-green-lighten: lighten(#008000, 50%);
$c-green-darken: darken(#008000, 50%);
