@import 'includables';

@font-face {
    font-family: "Kaushan Script";
    src: url("http://fonts.gstatic.com/s/kaushanscript/v6/vm8vdRfvXFLG3OLnsO15WYS5DG74wNI.woff2");
}

@font-face {
    font-family: Montserrat;
    src: url("http://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2");
}

*::-moz-focus-inner {
    border: 0;
}

::selection {
    background: $c-green-hover;
}

::-moz-selection {
    background: $c-green-hover;
}

*:active,
*:focus,
*:hover,
*.active {
    outline: none;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $c-dark;
    font-size: 14px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    color: $c-green;
    letter-spacing: 1px;
    font-family: "Varela Round", sans-serif;
    text-align: center;

    &.arrow {
        content: ' ';
        font-size: 15px;
        text-transform: uppercase;
        color: $c-green;
        letter-spacing: 1px;
        background: url(http://www.suevo-guestphalia.de/img/icons/004.png) no-repeat center bottom;
        padding-bottom: 30px;
        font-weight: bold;
    }
}

p {
    color: $c-light-darken;
    margin-bottom: 5px;
    font-size: 14px;

    &.big {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

a {
    color: $c-green;
    text-decoration: none;

    &:hover {
        color: $c-green-hover;
    }
}

.page-header {
    text-align: center;
    height: 450px;
    background: none center 25%;
    background-size: cover;

    @include min-small {
        height: 300px;
    }

    .page-header__container {
        padding-top: 100px;

        h1, h2 {
            background: rgba($c-light, 0.6);
            color: $c-dark;
        }

        h1 {
            margin-bottom: 50px;
            text-transform: uppercase;
            font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 55px;
            font-weight: 700;
            line-height: 75px;
        }
        h2 {
            margin-bottom: 25px;
            font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 32px;
            font-style: italic;
            font-weight: normal;
            line-height: 40px;
        }

        @include min-small {
            padding-top: 200px;
            h1 {
                font-size: 32px;
                line-height: 40px;
            }
            h2 {
                font-size: 24px;
                line-height: 32px;
            }
        }
    }
}

.btn,
button {
    border: 0;
    border-radius: 0;
    outline: none;
    color: $c-light;
    background-color: $c-green;
    cursor: pointer;
    transition: .2s;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 20px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;

    &.big {
        padding: 20px 40px;
        font-weight: bold;
    }

    @include min-small {
        padding: 5px 10px;
        font-size: 14px;
        &.big {
            padding: 10px 20px;
        }
    }

    &.round {
        padding: 0;
        line-height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    &.outline {
        border: 1px solid $c-light;
    }

    &:hover,
    &.active {
        color: $c-dark-hover;
        background-color: $c-green-hover;

        &.outline {
            border-color: $c-dark-hover;
        }
    }

    @media (hover: none) {
        &:hover,
        &.active {
            background-color: $c-green;
        }
    }

    &.transparent {
        background-color: transparent;
        color: $c-light;
        text-shadow: 1px 1px 1px $c-black;

        &.outline {
            background-color: transparent;
            color: $c-light-hover;
            border: 1px solid $c-light-hover;
        }

        &:hover,
        &.active {
            color: $c-light;
            background-color: $c-green;
            text-shadow: none;

            &.outline {
                background-color: transparent;
                border-color: $c-green;
                color: $c-green;
            }
        }
        @media (hover: none) {
            &:hover,
            &.active {
                background-color: transparent;
            }
        }
    }

    &.light {
        background-color: $c-light-hover;
        color: $c-dark;

        &.outline {
            background-color: $c-light;
            border: 1px solid $c-dark;
        }

        &:hover,
        &.active {
            color: $c-dark-hover;
            background-color: $c-green-hover;

            &.outline {
                border-color: $c-dark-hover;
            }
        }
        @media (hover: none) {
            &:hover,
            &.active {
                background-color: $c-light-hover;
            }
        }
    }

    &.dark {
        background-color: $c-dark;

        &.outline {
            border: 1px solid $c-light;
        }

        &:hover {
            color: $c-green;

            &.outline {
                border-color: $c-green;
            }
        }
        &.active {
            background-color: $c-green;
            color: $c-light;
        }
        @media (hover: none) {
            &:hover,
            &.active {
                background-color: $c-dark;
            }
        }
    }
}

.info-cards__wrapper {
    display: grid;
    grid-template-rows: repeat(auto-fill, auto);
    grid-gap: 10px;

    @include large-max {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @include medium-large {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include small-medium {
        grid-template-columns: 1fr 1fr;
    }

    @include min-small {
        grid-template-columns: 1fr;
    }

    .info-card {
        width: 100%;
        font-size: 13px;
        margin: 0 auto;
        color: $c-dark-hover;

        .info-card__image {
            margin: 0 auto;
            width: 20vw;
            height: 20vw;
            background-size: cover;
            transition: 1s;
            cursor: pointer;

            &::after {
                content: ' ';
                color: transparent;
            }

            &:hover {
                box-shadow: inset 40vw 0 0 0 rgba($c-green, 0.5);

                &::after {
                    content: 'mehr dazu';
                    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
                    text-transform: uppercase;
                    line-height: 20vw;
                    width: 20vw;
                    margin: 0 auto;
                    color: $c-light;
                    font-weight: bold;
                }
            }
        }

        .info-card__separator {
            margin: 0 auto;
            height: 3px;
            width: 25px;
            background-color: $c-green;
        }

        h2 {
            font-size: 15px;
            color: $c-dark;
        }
    }
}

.link__container {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $c-dark;
    text-align: center;

    &.light {
        background-color: $c-light;
    }
}

.full-width {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

// Class: Min to ...
.min-small {
    display: none;

    @include min-small {
        display: inline-block;
    }
}

.min-medium {
    display: none;

    @include min-medium {
        display: inline-block;
    }
}

.min-large {
    display: none;

    @include min-large {
        display: inline-block;
    }
}

// Class: Small to ...
.small-medium {
    display: none;

    @include small-medium {
        display: inline-block;
    }
}

.small-large {
    display: none;

    @include small-large {
        display: inline-block;
    }
}

.small-max {
    display: none;

    @include small-max {
        display: inline-block;
    }
}

// Class: Medium to ...
.medium-large {
    display: none;

    @include medium-large {
        display: inline-block;
    }
}

.medium-max {
    display: none;

    @include medium-max {
        display: inline-block;
    }
}

// Class: Medium to ...
.large-max {
    display: none;

    @include large-max {
        display: inline-block;
    }
}


ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
