<navigation class="footer" [location]="'FOOTER'" [routes]="routes"></navigation>
<div class="legal">
  <span>Administrator: {{author}}</span><br>
  <span>Copyright &copy; 2018</span><br>
  <span>Utilized technologies: <a [routerLink]="'/credits'">Credits</a></span><br>
  <span>Version: <a class="invisible" target="_blank" href="http://www.suevo-guestphalia.de/load-new-scripts.php/">{{version}}</a></span>
</div>
