<section class="page-header">
  <div class="page-header__container">
    <i class="far fa-frown fa-10x"></i>
    <h1>This site is offline</h1>
    <h2>Due to active work on our privacy policy is this site currently down.</h2>
  </div>
</section>
