<div class="header__band">
  <div class="band">
    <div class="percussion"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="green"></div>
    <div class="percussion"></div>
  </div>
</div>

<h1 class="header__heading">Suevo-Guestphalia</h1>

<navigation [location]="'HEADER'" [routes]="routes"></navigation>

<div class="header__sidebar-puller">
  <button class="dark" (click)="toggleSidebar()">
    <i class="fas" [ngClass]="{'fa-bars': !sidebarVisible, 'fa-times': sidebarVisible}"></i>
  </button>
</div>
