::ng-deep .container {
    padding: 10px 20px;

    ul {
        list-style: none;
    }

    h4 {
        text-align: left;

        &.align-center {
            text-align: center;
        }
    }
}
