<page-section [bttButton]="false">
  <h4>Corps Suevo-Guestphalia</h4>
  <span>Ungererstrasse 33</span><br>
  <span>80805 München</span><br>
  <span>Deutschland</span><br>
  <span>Tel.: 089 3615022</span><br>
  <span>E-Mail: <a href="mailto:cc@suevo-guestphalia.de" target="_blank">cc@suevo-guestphalia.de</a></span><br>
  <span>Website:&nbsp;<a href="https://www.suevo-guestphalia.de/"
                         rel="nofollow">www.suevo-guestphalia.de</a></span><br>
  <br>

  <h4>Vorsitz der Aktiven</h4>
  <span>Felix Senn</span><br>
  <span>Ungererstrasse 33</span><br>
  <span>80805 München</span><br>
  <br>

  <h4>Vorsitz der Alt Herrenschaft</h4>
  <span>Dr. med. vet. Jürgen Flaßhoff</span><br>
  <span>Lönkerstr. 18</span><br>
  <span>59269 Beckum</span><br>
  <br>
</page-section>
