<section class="page-header">
  <div class="page-header__container">
  </div>
</section>


<!-- weiterführende informationen -->
<page-section>
  <h1 class="arrow">Weiterführende Informationen</h1>

  <div class="info-cards__wrapper">
    <div class="info-card">
      <a routerLink="/information/history">
        <div class="info-card__image"
             style="background-image: url(http://www.suevo-guestphalia.de/img/events/061.jpg)"></div>
      </a>
      <h2>
        <i class="fas fa-book"></i>
        Geschichte
      </h2>
      <div class="info-card__separator"></div>
    </div>

    <div class="info-card">
      <a routerLink="/information/fencing">
        <div class="info-card__image"
             style="background-image: url(http://www.suevo-guestphalia.de/img/events/050.jpg)"></div>
      </a>
      <h2>
        <i class="fas fa-blind"></i>
        Fechten und Mensur
      </h2>
      <div class="info-card__separator"></div>
    </div>

    <div class="info-card">
      <a routerLink="/information/links">
        <div class="info-card__image"
             style="background-image: url(http://www.suevo-guestphalia.de/img/events/040.jpg)"></div>
      </a>
      <h2>
        <i class="fas fa-link"></i>
        Querverweise
      </h2>
      <div class="info-card__separator"></div>
    </div>

    <div class="info-card">
      <a href="https://de.wikipedia.org/wiki/Corps" target="_blank">
        <div class="info-card__image"
             style="background-image: url(http://www.suevo-guestphalia.de/img/events/069.jpg)"></div>
      </a>
      <h2>
        <i class="fab fa-wikipedia-w"></i>
        Corps im Allgemeinen
      </h2>
      <div class="info-card__separator"></div>
    </div>
  </div>
</page-section>
