<div
    class="content"
    [ngClass]="['columns-'+columns, parallax ? 'parallax' : '']"
    [ngStyle]="{'background-image': 'url('+ parallaxImage +')'}">
  <ng-content></ng-content>
</div>

<scroll-to-top class="btt-button" *ngIf="bttButton"></scroll-to-top>
