@import '../../stylesheets/generics/includables';

.content {
    padding: 25px 0;
    display: grid;
    width: 100vw;
    text-align: center;
    overflow: auto;
    box-shadow: inset -20px 0px 50px -20px rgba($c-dark, 0.25);
    border-bottom: 1px dotted $c-light-hover;

    * {
        overflow: auto;
    }

    &.columns-1 {
        grid-template-columns: 1fr;
    }
    &.columns-2 {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;

        @include min-medium {
            grid-template-columns: 1fr;
            grid-column-gap: 0;
        }
    }
    &.columns-3 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 25px;

        @include min-medium {
            grid-template-columns: 1fr;
            grid-column-gap: 0;
        }
    }

    &.parallax {
        box-shadow: none;
        padding-top: 150px;
        padding-bottom: 150px;
        background: $c-dark fixed;
        background-size: cover;
        border-bottom: none;
    }
}

::ng-deep {
    h2 {
        color: $c-light;
        text-transform: none;
        font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    }

    &.columns-1 {
        p {
            padding-left: 150px;
            padding-right: 170px;

            @include min-small() {
                padding-left: 10px;
                padding-right: 10px;
            }

            @include small-medium() {
                padding-left: 50px;
                padding-right: 50px;
            }
        }
    }

    &.columns-2 {
        p {
            padding-left: 50px;
            padding-right: 50px;

            @include min-medium() {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    &.columns-3 {
        p {
            padding-left: 30px;
            padding-right: 30px;

            @include min-medium() {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

.btt-button {
    position: relative;
    bottom: 0;
    left: 50%;
}
