<section class="page-header">
  <div class="page-header__container">
    <h2 class="heading">Wie werde ich Mitglied?</h2>
  </div>
</section>


<page-section [bttButton]="false">
  <p>
    Wenn du uns beitreten möchtest, geht das ganz einfach.<br>
    Schau einfach bei uns vorbei, schreib uns eine E-Mail oder ruf uns an.<br>
    <br>
    Danach treffen wir uns auf dem Haus, erklären dir alles und beantworten deine Fragen.<br>
  </p>
  <br>
  <br>
  <p>Es gibt allerdings ein paar Dinge, die wie vorraussetzen:</p>
  <ul>
    <li>Du bist Student an einer (Fach-)Hochschule oder Universität</li>
    <li>Du bist gewillt zu Fechten</li>
    <li>Du bist männlich</li>
  </ul>
  <br>
  <p>Was uns komplett egal ist:</p>
  <ul>
    <li>Alter</li>
    <li>Ethnie</li>
    <li>Konfession*</li>
    <li>Nationalität</li>
    <li>Politische Einstellung*</li>
  </ul>
  <small>* So lange du die nicht extremistisch auslebst</small>
</page-section>

<page-section
    [parallax]="true"
    [parallaxImage]="'http://www.suevo-guestphalia.de/img/events/031.jpg'"
    [bttButton]="false">
  <h2 class="heading">Wie erreiche ich euch?</h2>
</page-section>

<page-section>
  <h4>Corps Suevo-Guestphalia</h4>
  <span>Ungererstrasse 33</span><br>
  <span>80805 München</span><br>
  <span>Deutschland</span><br>
  <span>Tel.: 089 3615022</span><br>
  <span>E-Mail: <a href="mailto:cc@suevo-guestphalia.de" target="_blank">cc@suevo-guestphalia.de</a></span><br>
  <span>Website:&nbsp;<a href="https://www.suevo-guestphalia.de/"
                         rel="nofollow">www.suevo-guestphalia.de</a></span><br>
  <br>

  <h4>Vorsitz der Aktiven</h4>
  <span>Felix Senn</span><br>
  <span>Ungererstrasse 33</span><br>
  <span>80805 München</span><br>
  <br>

  <h4>Vorsitz der Alt Herrenschaft</h4>
  <span>Dr. med. vet. Jürgen Flaßhoff</span><br>
  <span>Lönkerstr. 18</span><br>
  <span>59269 Beckum</span><br>
  <br>
</page-section>
