@import '../../stylesheets/generics/includables';

.page-header {
    background-image: url(http://www.suevo-guestphalia.de/img/events/020.jpg);
}



.wappen-wrapper {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: $c-white;
    text-align: center;

    img {
        height: 200px;
        width: auto;
        margin-top: 50px;
    }

    &:hover {
        box-shadow: 0 0 20px 5px rgba($c-green, 0.5);
        cursor: pointer;
    }

}
