<section class="page-header"></section>


<page-section>
  <h1 class="arrow">Über uns</h1>

  <p class="big">
    Du bist männlich und an einer staatlich anerkannten Münchner Hochschule immatrikuliert? Dann solltest du
    Corpsstudent werden!
  </p>
  <p>
    Du interessierst dich für uns und unser Schaffen? Du bist nur zufällig auf dieser Seite gelandet oder interessierst
    dich tatsächlich für eine Mitgliedschaft? Erfahre im Folgenden mehr über uns. Und wenn die Informationen auf dieser
    Seite nicht ausreichen sollten, gibt es ja immer noch
    <a href="https://www.google.com" target="_blank">Google</a> oder <a href="https://www.wikipedia.com"
                                                                        target="_blank">Wikipedia</a>. Sollten darüber
    hinaus Fragen offen bleiben, darfst du ruhig auch Kontakt mit uns aufnehmen.
  </p>
</page-section>


<page-section
    [parallax]="true"
    [parallaxImage]="'http://www.suevo-guestphalia.de/img/events/070.jpg'"
    [bttButton]="false">
  <h2 class="heading">Was ist Suevo-Guestphalia?</h2>
</page-section>
<page-section>
  <h1 class="arrow">Wer sind wir?</h1>
  <p>
    Wir gestalten die Studienzeit in einem kleinen, übersichtlichen Freundeskreis - unserem Corps - sinnvoll und
    abwechslungsreich. Unsere Aktivitas besteht aus Studenten unterschiedlichster Herkunft, die an den verschiedenen
    Münchner Hochschulen studieren. Unsere "Alten Herren" (ehemalige Aktive, die das Studium abgeschlossen haben) sind
    in allen Bereichen des gesellschaftlichen, wirtschaftlichen, sozialen und kulturellen Lebens tätig. Toleranz wird
    bei uns groß geschrieben. Wir alle sind Neuem gegenüber offen und von einer politisch neutralen Grundeinstellung
    geprägt - gegen Extreme in jeder Richtung.
  </p>
  <p>
    Seit jeher ist Freundschaft die Grundidee, die Grundlage unserer Gemeinschaft - sie bleibt es ein Leben lang. Die
    Treue und Verbundenheit zum Corps führt uns immer wieder zusammen. Das Zentrum unseres Gemeinschaftslebens ist unser
    Corpshaus in München-Schwabing.
  </p>
  <p>
    Band und Mütze mit den Farben schwarz-weiß-grün sind sichtbare Zeichen unserer Zugehörigkeit zum Corps. Allgemein
    gelten sie für uns Corpsstudenten als Symbol unserer engen Verbundenheit und Ausdruck des Willens und der
    Verpflichtung, jederzeit für unsere Ideale und Ziele einzutreten.
  </p>
</page-section>


<page-section
    [parallax]="true"
    [parallaxImage]="'http://www.suevo-guestphalia.de/img/events/021.jpg'"
    [bttButton]="false">
  <h2 class="heading">Welche Vorteile hat so eine Mitgliedschaft?</h2>
</page-section>
<page-section [columns]="2">
  <div>
    <h1 class="arrow">Was habe ich von einer Verbindung?</h1>
    <p>
      Manch einer zögert, sich nur kurz nach Verlassen des Elternhauses, Ausscheiden aus der mit Zwängen verbundenen
      Zeit
      hinter der Schulbank, bei Bundeswehr oder in einer Lehre freiwillig einer Gemeinschaft anzuschließen, die einem
      Pflichten und Aufgaben auferlegt und so scheinbar der viel gerühmten studentischen Freiheit beraubt.
    </p>
    <p>
      Aber entfaltet sich diese studentische Freiheit in einer kleinen Studentenbude? Oder etwa im anonymen
      Massenbetrieb
      der überfüllten Universitäten? Bei der ausschließlichen Beschäftigung mit dem eigenen Studienfach?
    </p>
    <p>
      Die jungen Leute, die wir erreichen wollen und die zu uns passen, wollen viel mehr als nur ein schnelles
      Studium:<br>
      Das Leben auf dem Corpshaus und die Unterstützung durch die Alten Herren räumen ein Maximum an studentischer
      Freiheit ein.
    </p>
  </div>

  <div>
    <p>
      Die Durchführung des selbst gestalteten Semesterprogramms und das enge Zusammenleben auf dem Haus sind
      Herausforderungen, die ständige Auseinandersetzung mit anderen Meinungen und das Finden von Kompromissen
      erfordert.
    </p>
    <p>
      Wir üben demokratische Spielregeln und erlangen so das, was heute, gefasst unter dem Stichwort "soziale
      Kompetenz",
      ebenso wichtig ist wie fachliches Können.
    </p>
    <p>
      Organisations- und Redetechnik sind nur einige wenige der weiteren Erfahrungs- und Kenntnisvorsprünge, die wir
      durch
      unsere Corpszugehörigkeit erlangen.
    </p>
    <p>Durch engen Austausch mit den älteren Corpsbrüdern erfährt man nicht nur wertvolle Unterstützung bei Beginn des
      eigenen Studiums, sondern man gewinnt auch interessante Einblicke in andere Studienrichtungen.<br>
      Bei all dem bedeutet Corpsbrüderlichkeit für uns mehr als nur der gemeinsame Spaß und der Erfolg im Studium. Wir
      versuchen vor allem in schwierigen Lagen, freundschaftlich füreinander einzustehen und ein Leben lang in Kontakt
      zu
      bleiben.
    </p>
  </div>
</page-section>


<page-section
    [parallax]="true"
    [parallaxImage]="'http://www.suevo-guestphalia.de/img/events/048.jpg'"
    [bttButton]="false">
  <h2 class="heading">Die Gemeinschaft</h2>
</page-section>
<page-section>
  <h1 class="arrow">Was fordern wir, was suchen wir?</h1>
  <p>
    Einsatz für die Gemeinschaft! Der Corpsbetrieb läuft natürlich nicht von selbst, Veranstaltungen müssen organisiert,
    neue Mitglieder integriert werden. Wir suchen junge Persönlichkeiten aus der Studentenschaft, die sich gerne in
    dieser Gemeinschaft engagieren wollen.
  </p>
  <p>
    Und: Selbstverständlich fechten wir. Die Corps gehören zu den schlagenden Verbindungen. Wir sind eben so altmodisch,
    dass wir unseren Kopf für eine gute Sache - in diesem Fall für die Gemeinschaft unseres Corps - hinhalten. Gerade
    weil das heute so selten geworden ist, halten wir daran fest - ganz so, wie es die Redensart meint! Schon daraus
    folgt aber, daß unser Fechten nichts mit Duellen oder "Ehrenhändeln" zu tun hat. Wir pflegen die sportliche Mensur,
    ausgetragen nach festen Regeln, die einen fairen Verlauf garantieren.
  </p>
  <p>
    Zu guter Letzt: Natürlich darf das Studium über alldem nicht vernachlässigt werden! Wir fördern den schnellen und
    erfolgreichen Studienverlauf. Denn was bringt in der heutigen Zeit ein herrliches (Corps-)Studentenleben ohne einen
    qualifizierten Studienabschluß?
  </p>
  <p>
    Übrigens: Nahezu alle unserer Corpsbrüder schließen ihr Studium mit einem hervorragendem akademischen Abschluß ab
    und finden rasch den Einstieg in das Berufsleben.
  </p>
</page-section>


<page-section
    [parallax]="true"
    [parallaxImage]="'http://www.suevo-guestphalia.de/img/events/054.jpg'"
    [bttButton]="false">
  <h2 class="heading">Das Grüne Kartell</h2>
</page-section>
<page-section>
  <h1 class="arrow">Mehr als die Summe seiner Teile</h1>
  <p>
    Als Schwaben-Westfale ist man nie allein, unsere Verbindung gibt es noch in Kaiserslautern und in Hannover! Als
    "Grünes Kartell" verstehen wir uns als ein Corps an drei Hochschulorten. Mit den Berliner Franken (Kaiserslautern)
    und den Normannen (Hannover) verbinden uns über 140 Jahre Freundschaft und gemeinsame Geschichte.
  </p>
  <p>
    Die Beziehungen zwischen den jungen Studenten im Kartell sind sehr gut und werden durch mehrere Treffen im Semester
    bekräftigt. So gibt es in jedem Wintersemester ein Kartelltreffen, das immer reihum in Kaiserlautern, Hannover oder
    bei uns stattfindet. Ein Wochenendausflug, bei dem man als Studienanfänger eine neue Stadt und neue
    (Kartell-)Corpsbrüder kennenlernt oder zum wiederholten Male gute alte Freunde besucht, in einer Stadt, die einem
    plötzlich so vertraut wie die Eigene vorkommt.
  </p>
  <p>
    Im Sommersemester findet in Weinheim an der Bergstraße die Tagung unseres Dachverbandes statt. 62 Corps aus 22
    Städten reisen über Christi Himmelfahrt in die kleine "Zwei-Burgen-Stadt", die im Meer bunter Fahnen, Bänder und
    Mützen erleuchtet. Eine optimale Gelegenheit für ein Wiedersehen! Diesmal sind nicht nur die Studenten sondern auch
    viele unserer Alten Herren (Corpsbrüder, die ihr Studium abgeschlossen haben) dabei. Auf diese Weise ergibt sich ein
    einmaliger Austausch über Studienfächer, Unis, Berufe und Generationen hinweg.<br>
    Sehr gerne nutzen wir Gelegenheiten, unsere "Kartellis" auch zu Kneipen (traditionelle studentische Feier) und
    Stiftungsfesten (Geburtstagsfeiern einer Verbindung) zu besuchen, welche immer wieder sehr schöne Erlebnisse sind.
  </p>

  <page-section [columns]="3" [bttButton]="false">
    <div align="center">
      <h2 class="arrow">Franconia Berlin zu Kaiserslautern</h2>
      <div class="wappen-wrapper" (click)="openFB()">
        <img src="http://www.suevo-guestphalia.de/img/icons/000.png" class="img-responsive img-centered img-circle"
             alt="Corps Suevo-Guestphalia München"/>
      </div>
    </div>
    <div align="center">
      <h2 class="arrow">Normannia Hannover</h2>
      <div class="wappen-wrapper" (click)="openNH()">
        <img src="http://www.suevo-guestphalia.de/img/icons/001.jpg" class="img-responsive img-centered img-circle"
             alt="Corps Suevo-Guestphalia München"/>
      </div>
    </div>
    <div align="center">
      <h2 class="arrow">Suevo-Guestphalia München</h2>
      <div class="wappen-wrapper" (click)="openSG()">
        <img src="http://www.suevo-guestphalia.de/img/icons/002.gif" class="img-responsive img-centered img-circle"
             alt="Corps Suevo-Guestphalia München"/>
      </div>
    </div>
  </page-section>

  <p>
    Durch die Freundschaften, die im Kartell entstehen, steuern Corpsbrüder oft die Stadt eines Kartellcorps an, um
    Praktika zu absolvieren, ein Semester an einer anderen Uni zu studieren oder sogar sein Studium dort zu beenden. Der
    neue Ort ist aber bereits erschlossen, man findet leicht eine gute Wohnmöglichkeit, kennt bereits viele Leute und
    kann sich so schnell und gut integrieren. Auch kann man zusätzlich "das Band des Kartellcorps aufnehmen", sprich
    Mitglied werden. Im grünen Kartell gibt es viele sogenannter Zweibändermänner und sogar Einige, die bei allen drei
    Corps Mitglied sind und drei Bänder, die "Kartellweste", tragen.
  </p>
  <p>
    Erfahrungen, die man durch das Studium an zwei Unis und die Interaktion mit Verbindungswesen zweier Hochschulorte
    gewinnt, sind keinesfalls zu unterschätzen!<br>
    Doch auch wenn man "nur" in München studiert, fühlt man sich als Schwaben-Westfale seinem Kartell treu verbunden.
  </p>
</page-section>


<page-section
    [parallax]="true"
    [parallaxImage]="'http://www.suevo-guestphalia.de/img/events/022.jpg'"
    [bttButton]="false">
  <h2 class="heading">Wie werde ich Mitglied?</h2>
</page-section>
<page-section>
  <h1 class="arrow">Fühlst Du Dich angesprochen?</h1>
  <p>
    Wir erwarten von unseren Corpsbrüdern Aufgeschlossenheit, Toleranz, gesellschaftliches Auftreten sowie den Willen,
    sich für die Gemeinschaft einzusetzen und Verantwortung zu übernehmen. Wer zu uns gehören möchte, der wird
    gefördert, aber auch gefordert.
  </p>

  <section class="link__container light">
    <a routerLink="/join" class="btn big light outline">
      <i class="fas fa-user-check"></i>
      Mitglied werden
    </a>
  </section>
</page-section>
