<section class="page-header">
  <div class="page-header__container">
    <h2 class="heading">Querverweise</h2>
  </div>
</section>


<page-section [bttButton]="false">
  <div class="col-md-12 text-center">
    <h1 class="arrow">Querverweise</h1>
    <h3>Surf mit Hilfe der folgenden Links zu anderen Corps und weiteren interessanten Orten im Internet!</h3>
  </div>
  <div class="row contact-details">
    <div class="col-md-4">
      <div class="light-box box-hover">
        <h2><i class="fa fa-map-marker"></i><span>Corpsstudententum</span></h2>
        <ul>
          <li><u><a target="_blank" href="https://www.msc-corps.de">www.msc-corps.de</a></u> - Münchner Senioren-Convent</li>
          <li><u><a target="_blank" href="https://www.die-corps.de">www.die-corps.de</a></u> - Kösener und Weinheimer Corpsstudenten -
            offizielle Website der Corps-Verbände KSCV und WSC
          </li>
          <li><u><a target="_blank" href="https://www.corpsphilisterverband-muenchen.de/">Corpsphilisterverband München</a></u> -
            Städtischer Dachverband unserer berufstätigen Mitglieder
          </li>
          <li><u><a target="_blank" href="https://www.aws-seminare.de/">AWS-Seminar</a></u> - "Akademie Weinheim Seminar" - Seminarwesen
            des deutschlandweiten Dachverbandes
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="light-box box-hover">
        <h2><i class="fa fa-map-marker"></i><span>Universitäten und Fachhochschulen in München</span></h2>
        <ul>
          <li><u><a target="_blank" href="https://www.tum.de">www.tum.de</a></u> -Technische Universität München (TUM)</li>
          <li><u><a target="_blank" href="https://www.uni-muenchen.de">www.uni-muenchen.de</a></u> - Ludwig-Maximilians-Universität München
            (LMU)
          </li>
          <li><u><a target="_blank" href="https://www.unibw.de">www.unibw.de</a></u> - Universität der Bundeswehr München
            (UniBW)
          </li>
          <li><u><a target="_blank" href="https://www.hfph.mwn.de">www.hfph.mwn.de</a></u> - Hochschule für Philosophie München</li>
          <li><u><a target="_blank" href="https://www.hfp.tum.de">www.hfp.tum.de</a></u> - Hochschule für Politik München</li>
          <li><u><a target="_blank" href="https://www.musikhochschule-muenchen.de">www.musikhochschule-muenchen.de</a></u> - Hochschule für
            Musik und Theater München
          </li>
          <li><u><a target="_blank" href="https://www.hff-muenchen.de">www.hff-muenchen.de</a></u> - Hochschule für Fernsehen und Film München
          </li>
          <li><u><a target="_blank" href="https://www.adbk.de">www.adbk.de</a></u> - Akademie der Bildenden Künste München</li>
          <li><u><a target="_blank" href="https://www.fh-muenchen.de">www.fh-muenchen.de</a></u> - Fachhochschule München (FH)</li>
          <li><u><a target="_blank" href="https://www.fh-weihenstephan.de">www.fh-weihenstephan.de</a></u> - Fachhochschule Weihenstephan</li>
          <li><u><a target="_blank" href="https://www.ksfh.de">www.ksfh.de</a></u> - Katholische Stiftungsfachhochschule München</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="light-box box-hover">
        <h2><i class="fa fa-map-marker"></i><span>München</span></h2>
        <ul>
          <li><u><a target="_blank" href="https://www.muenchen.de">www.muenchen.de</a></u> - offizielle Homepage der Landeshauptstadt München +
            virtuelles Rathaus + Touristen-Info + Politik + Verkehr
          </li>
          <li><u><a target="_blank" href="https://www.in-muenchen.de">www.in-muenchen.de</a></u> - aktuelles Programm-Magazin für München + Kino
            + Theater + Kabarett + Ausstellungen
          </li>
          <li><u><a target="_blank" href="https://www.muenchen-online.de">www.muenchen-online.de</a></u> - Veranstaltungen, Locations, News,
            Web-Cams in/aus München
          </li>
          <li><u><a target="_blank" href="https://www.muenchen.de/essen-trinken.html">www.muenchen.de/essen-trinken</a></u> - Verzeichnis der Gastronomiebetriebe
            in München
          </li>
        </ul>


      </div>
    </div>
  </div>
</page-section>
