@import '../../stylesheets/generics/includables';

:host {
    text-align: center;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;

    a {
        line-height: 100px;
    }
}

@include min-medium {
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 2px;
        grid-column-gap: 2px;

        a {
            line-height: 50px;
        }
    }
}
