<section class="page-header">
  <div class="page-header__container">
    <h2 class="heading">„Virtus atque Honos!“</h2>
  </div>
</section>

<page-section>
  <h2 class="arrow">Hintergrund des Fechtens</h2>
  <p>Die Faszination, die von der Mensur ausgeht, ist lebendig wie einst: Sie gehört zum Mythos Verbindung untrennbar
    dazu, edel und roh zugleich; niemand, der sich ihrer archaischen Anziehungskraft entziehen könnte.</p>
  <p>Zwei Paukanten fechten ihre Mensur. Ihnen zur Seite stehen die beiden Sekundanten, die am Ende eines Ganges zu je
    fünf Hieben hochgehen, um ihren Paukanten zu schützen. In der Mitte der Unparteiische. An den Seiten die
    Testanten, die die Klingen desinfizieren. Außerdem gibt es noch die Mensurhelfer, die ihren jeweiligen Paukanten
    betreuen, die beiden Schreiber und der Mensurarzt. Der Paukant ist während der Mensur also nicht alleine - er wird
    betreut von einem kompetenten Team.</p>
  <p>Wer mit dem Degen nicht umgehen konnte, galt als Niete, also wurde in den Corps auf gutes Fechten Wert gelegt;
    aber die Corps bekämpften auch von Anfang an den verwilderten Stil, der in der Studentenschaft damals oft
    herrschte. Sie wurden schnell zur regulierenden Kraft an den deutschen Universitäten, schafften den Gebrauch der
    tödlichen Stoßdegen ab, unterbanden das wilde Duellieren und führten stattdessen die Mensur ein - harmloser, fair,
    nach klaren Regeln.</p>
  <p>Im 19. Jahrhundert, besonders im wilhelminischen Kaiserreich, übernahmen nicht nur die Burschenschaften, sondern
    viele andere neugegründete Verbindungen das Mensurfechten und verbanden es mit den zeittypischen Klischees wie
    "Waffenehre", "das blanke Schwert in der Faust des deutschen Mannes" und ähnlichem national-romantischem Kitsch;
    es hat lange gedauert, die wirkliche Funktion der Mensur von diesem angepappten Wirrsinn zu befreien.</p>
</page-section>

<page-section>
  <h2 class="arrow">Das studentische Fechten</h2>
  <h4>Entwicklung des studentischen Fechtens</h4>
  <p>Das Fechten der Studenten ist im ausgehenden Mittelalter entstanden aus der Notwendigkeit, sich auf den langen
    Wegen zwischen Heimat und Universität vor Übergriffen zu schützen. Neben dem Adel, Würdenträgern und Mitgliedern der
    Fechtergesellschaften (des Bürgertums und der Handwerkerschaft) stand nur den Studenten das Recht zu, Waffen zu
    tragen. Zu jener Zeit konnte jeder wehrhafte Mann fechten. Fechtmeister unterrichteten Studenten wie Bürger in der
    Fechtkunst.</p>

  <p>Erst mit der Verbreitung der Feuerwaffen bildeten sich im Bürgerbereich Schützenkompanien anstelle der
    Fechtergesellschaften; die Bürger überließen gewissermaßen die Ausübung der Fechtkunst den Adeligen, Offizieren,
    Professoren und Studenten, ohne dass diese aber als elitäres Vorrecht dieser seitens der Bürger angesehen wurde.</p>

  <p>Unter italienischem Einfluss setze sich im 16. Jh. das Stoßfechten durch. Wegen dessen Gefährlichkeit wurde dieses
    aber am Ende des 18. Jh. vom heute gebräuchlichen Hiebfechten abgelöst. Als Waffe hierfür dienten Korbschläger oder
    Glockenschläger. Als Duellwaffen waren Säbel und Pistole gebräuchlich.</p>

  <p>Bis weit in das 19. Jh. hinein bestand die Kunst des Fechtens darin, Angriffe des Gegners zu parieren oder ihnen
    auszuweichen. Der Abstand war so groß, dass der Gegner nur mit einem Ausfallschritt getroffen werden konnte; die
    Mensur war »beweglich«.</p>

  <p>Mit dem Wiederbeginn des Hiebfechtens wurden leichte Bandagen üblich, die beim schnellen Stoßfechten eher
    hinderlich waren.</p>

  <p>Etwa ab 1850 wandelte sich die Auffassung vom Fechten. Anstelle des »flüssigen Fechtens« mit Finten und Paraden
    legte man immer mehr Wert auf das »Stehen«, d. h. Erwarten und Parieren des Hiebes ohne sonstige körperliche
    Reaktion. Jeder Hieb musste sofort pariert werden, Zurückgehen war verpönt.</p>

  <p>Zugleich wurde der Schutz des Fechters immer weiter verstärkt: Halsbinde, Paukweste, Stulp (Armschutz) und
    Paukbrille sollten gefährliche Verletzungen ausschließen. So blieb nur mehr der Kopf als Trefferfläche übrig. Der
    Fechtarm wurde hochgenommen, die Paukanten rückten zusammen, die heutige Fechtweise mit fester, enger Mensur war
    entstanden.</p>

  <p>In den 40er Jahren des 19. Jh. verzweigte sich die Entwicklung des Fechtens in das Duell einerseits und die Mensur
    andererseits. Die (verbotenen) Duelle wurden zwar für unverzichtbar gehalten, sie folgten aber allgemein
    akzeptierten Regeln.</p>

  <p>Die Mensur dagegen entwickelte sich zum ritterlichen Kampfspiel. Die Schlägerpartie dient seitdem nicht mehr dem
    Ausgleich von Streitigkeiten. Die Partien werden von den Fechtwarten ausgehandelt (»bestimmt«), die dafür sorgen,
    dass möglichst gleichwertige Fechter (nach Statur, technischem Können und Erfahrung) einander gegenüberstehen.</p>

  <p>Bereits zu Anfang des 20. Jh. fanden Duelle nur noch nach Entscheidung durch ein Ehrengericht statt. Nach dem 2.
    Weltkrieg haben alle waffenstudentischen Verbände das Duell zur Bereinigung von Ehrenstreitigkeiten aufgegeben.
    Ehrenstreitigkeiten werden seither durch Ehrengerichtsverfahren bereinigt.</p>


  <h4>Die studentischen Fechtwaffen</h4>
  <p>Es gibt drei studentische Fechtwaffen:</p>
  <ul>
    <li>Säbel</li>
    <li>Glockenschläger</li>
    <li>Korbschläger</li>
  </ul>
  <p>Der Säbel unterscheidet sich vom Korbschläger nur in der Klinge: Die Säbelklinge ist gebogen, die Schlägerklinge
    ist gerade. Leichter und schwerer Säbel unterscheiden sich übrigens nicht, wie man annehmen könnte, im Gewicht,
    sondern in der Art der Bandagen, mit denen gefochten wurde. Der Säbel ist eine Duellwaffe, diente also der
    Austragung von Ehrenstreitigkeiten, und wird heute nicht mehr verwendet.</p>

  <p>Die heute gebräuchlichen studentischen Fechtwaffen sind also der Glockenschläger und der Korbschläger. Ob, wie die
    Studenten sagen, »auf Korb« oder »auf Glocke« gefochten wird, ist von Hochschulort zu Hochschulort
    unterschiedlich.</p>


  <h4>Fechten juristisch betrachtet</h4>
  <p>Die Strafgesetzbücher Deutschlands und Österreichs hatten das Duell generell verboten. Das Reichsgericht setze 1883
    die Schlägermensur zunächst dem Duell gleich. 1933 wurde die Mensur ausdrücklich für straffrei erklärt.</p>

  <p>Dies wurde zwar vom Alliierten Kontrollrat wieder aufgehoben, jedoch stellte der Bundesgerichtshof 1953 fest, dass
    die Bestimmungsmensur nicht den Tatbestand des Zweikampfes mit tödlichen Waffen erfülle; auch einen Verstoß gegen
    die guten Sitten verneinte der BGH. In den Neufassungen der Strafgesetzbücher sind sämtliche diesbezüglichen Verbote
    weggefallen.</p>

  <p>Eine ähnliche Entwicklung nahm die Beurteilung des Fechtens aus kirchlicher Sicht. Das Duell war schon immer
    unmoralisch und mit Exkommunion bedroht. Nachdem das Duell aufgegeben wurde, entfiel auch das Argument, dass die
    Mensur die Vorbereitung für das Duell wäre. Nach der neuesten Fassung des Codex juris canonici (1983) steht die
    Mensur auch offiziell nicht mehr unter kirchlicher Strafandrohung.</p>


  <h4>Der Sinn des Fechtens heute</h4>
  <p>Im Zuge einer langandauernden Auseinandersetzung mit der Frage, ob (vor allem) das Duell maßgebend für den
    Zusammenhalt in den Verbindungen sei, prägte sich der erzieherische Sinn der Schlägermensur:</p>

  <p>Jeder Paukant hat sich verbindlichen Regeln - dem Fechtcomment - zu unterwerfen;
    <br>obwohl ernste Verletzungen faktisch ausgeschlossen sind, ist die Mensur für jeden Fechter eine
    Ausnahmesituation, die ihn Überwindung kostet;
    <br>indem der einzelne sich dem Fechtcomment unterwirft, beweist er Fairness;
    <br>indem er seine inneren Widerstände überwindet, entwickelt er sich charakterlich weiter.
    <br>Er zeigt damit, dass ihm die Gemeinschaft seines Bundes mehr wert ist als abratende Stimmen aus der Umgebung,
    auch mehr wert ist als seine eigenen Zweifel an Einzelheiten des Korporationslebens.
    <br>So zeigt auch er, dass er zu dieser Gemeinschaft gehören will. Dieses Engagement öffnet ihm eigentlich erst den
    Zugang zur lebenslangen Gemeinschaft in unseren Verbindungen.</p>


  <h4>In Stichworten zusammengefasst</h4>

  <p>Die heutige Mensur entwickelte sich vom früheren Duell hinweg, das Duell gibt es heute nicht mehr.</p>
  <p>Die Mensur ist im Gegensatz zum Duell nicht verboten, weder staatlich noch kirchlich.</p>
  <p>Das Mensurfechten ist ein reines Hiebfechten, d. h. es wird nicht gestochen. Der Name der Fechtwaffe ist
    »Schläger«.</p>
  <p>Das Fechten stärkt Selbstbewusstsein und Selbstbeherrschung.</p>
  <p>Die Mensur ist kein »Kampf«, man »gewinnt« nicht gegen jemand; es fechten gleichwertige Partner miteinander.</p>
  <p>Alle anderen Sportarten verlangen Sieger und Unterlegene; diese Begriffe sind der Mensur fremd.</p>
  <p>Verbindungen sind seit jeher demokratisch organisiert, die Fechtregeln und die Wertvorstellungen von der Mensur
    werden ständig überprüft und weiterentwickelt; das Alter einer Tradition ist kein Indiz für reaktionäre
    Tendenzen.</p>
  <p>Uns zwingt niemand zur Mensur, wir wollen sie!</p>
  <p>Der Schmiss war früher ein Statussymbol, heute nicht mehr; der Schmiss ist nicht beabsichtigt. Die Mensur ist aber
    mehr als Sport, sie verlangt auch den Mut zu kalkulierbarem Risiko.</p>
  <p>Die Mensur erfordert auch mehr als Mut; sie erfordert enormen persönlichen Einsatz in einer körperlich-seelischen
    Ausnahmesituation; dabei erfordert sie ein hohes Maß an Fairness und Ritterlichkeit.</p>
  <p>Die Mensurauflage bildet eine gewisse Schwelle; sie vermeidet bloße Mitläufer und Pöstchenspekulanten.</p>
  <p>Die Mensur ist eine Möglichkeit, Einsatzbereitschaft für die Gruppe zu dokumentieren, die in dieser Form mit
    anderen Mitteln nicht vorstellbar ist. Die Integrationskraft der Mensur hat sich über viele Jahrzehnte hinweg
    bewährt; deswegen werden wir nicht darauf verzichten.</p>
</page-section>

<page-section>
  <h2 class="arrow">Auf Mensur!</h2>
  <p>Am 22.01.2000 war folgender Artikel in der Neuen Westfälischen Zeitung zu lesen:</p>
  <p>Die Suche nach einer starken Gemeinschaft treibt sie: Von den rund 1,8 Millionen Studenten sind 22.000 Mitglied
    einer Studentenverbindung. Das Klischee der rechtsradikalen Dumpfbacken können sie entkräften.</p>
  <h4>VON GUNTER HELD</h4>
  <p>"Hoch bitte! Los!" Scheppernd kracht Klinge auf Klinge. Rasend schnell hat jeder der Fechter vier Hiebe geschlagen.
    Mit einem lauten "Halt!" fallen die beiden dick vermummten Sekundanten ein, stellen sich schützend vor "ihren Mann".
    Die Kontrahenten sind Studenten. Jeder gehört einem Corps an.</p>
  <p>Warum stellen sich die beiden jungen Männer da hin? Was wollen sie sich beweisen? Beweisen wolle man sich gar
    nichts, sagt Christian Flader vom Corps Baltica-Borussia Danzig zu Bielefeld. Die Mensur, wie das studentische
    Fechten genannt wird, sei die Eintrittskarte in die Verbindung. Einmal Corpsstudent, immer Corpsstudent, heißt ein
    geflügeltes Wort. "Natürlich kann jeder auch wieder austreten", sagt Christian Flader. "Die Mensur ist ein klares
    Auswahlkriterium. Damit wollen wir verhindern, dass hier jemand Mitglied wird, alle Vorteile genießt und nach dem
    Studium sagt: ,Es war eine schöne Zeit, aber jetzt, wo ich zahlen soll, trete ich lieber aus."</p>
  <p>Die Extremsituation einer Mensur, vor der jeder Angst hat, und in der sich jeder selbst überwinden muss, erzeugt
    ein starkes Gemeinschaftsgefühl. Flader geht noch ein Stück weiter: "Fechten ist doof!", sagt er. "Aber ich habs
    gemacht." <strong>Vor einer Mensur hat jeder mit der Angst zu kämpfen.</strong> Viele Studentenverbindungen sind dem
    Prinzip der Freundschaft auf Lebenßeit verpflichtet. Aber natürlich sei man nicht mit jedem Corpsbruder, wie die
    Mitglieder der Corps sich untereinander bezeichnen, innigst befreundet. Nicht einmal sympathisch sei einem Jeder im
    Corps. Das wäre ja weltfremd, meint Christian Flader. Dennoch stelle das Corps ein starkes Netzwerk dar, auf das
    sich jedes Mitglied stützen könne. Egal ob Studienanfänger oder Alter Herr. Und die Mensuren, die sie schlagen,
    fechten sie nicht gegen einen anderen Corpsstudenten, sondern "mit ihm", erklärt Robert Schliewin.</p>
  <p><strong>Bei einer Mensur gibt es weder Sieger noch Verlierer.</strong> Der 22 Jahre alte Jurastudent ist in diesem
    Semester Senior des Corps Baltica-Borussia Danzig zu Bielefeld. Um die beiden Paukanten, wie die Kontrahenten im
    Jargon der Verbindungsstudenten heißen, haben sich etwa 50 Spektanten versammelt. Im Raum herrscht angespannte
    Stille, nachdem der Unparteiische vor Beginn der Mensur zum "Silentium", zur Ruhe, aufgefordert hat. Die Klingen der
    Mensurschläger sind scharf wie Rasiermesser. Die Luft im Saal des Verbindungshauses ist zum Schneiden dick. Eine
    Mischung aus kalten Tabakqualm, Schweiß und Desinfektionsmittel. Die Degen, die Mensurschläger heißen, sind 80
    Zentimeter lang, im ersten Drittel auf beiden Seiten scharf wie ein Rasiermesser. Ist das Fechten noch zeitgemäß
    Sind Verbindungen noch zeitgemäß?</p>
  <p>"Verbindungen legen Wert auf Tradition, erstarren aber nicht im Traditionalismus", ist Gerhard Daniel, Vorsitzender
    des Verbandes Alter Corpsstudenten, überzeugt. "Wir trauern nicht alten Zeiten hinterher, sondern stellen uns den
    Herausforderungen der Zukunft." Was sich wie Parolen aus einer Werbebroschüre anhört, wird jedoch mit Inhalt
    gefüllt. Da gibt es das "Kuratorium Weinheimer Seminare", eine Art Akademie für Führungsnachwuchs, in der Studenten
    Studium übergreifende Kompetenz erwerben können. Und demnächst soll an drei Universitäten, in Kiel, in Bayreuth und
    in Halle Corps-Akademien eingerichtet werden. Die sollen allen Studierenden offen stehen und ebenfalls die
    Möglichkeit bieten, sich über zertifizierte Seminare Zusatzqualifikationen zu erwerben. Gedacht ist beispielsweise
    an Betriebswirtschaft für Mediziner.</p>
  <p>40 Gänge zu je vier hohen Hieben werden in dieser Partie gefochten. 40 Mal hören die Paukanten das Kommando ihrer
    Sekundanten: "Hoch bitte!  Los!" 160 Mal setzen sie sich dem Risiko aus, getroffen zu werden. Dann fließt Blut.
    Allerdeings nur oberhalb der Paukbrille, die fest um den Kopf geschnürt ist, um Augen und Nase zu schützen. Einen
    Zieher, den Schmiss auf der Wange, der auf jeder Karikatur von Verbindungsstudenten zu sehen ist, können die
    Paukanten nicht kassieren. Denn sie fechten eine hohe Partie, keine tiefe.Sind Verbindungsstudenten saufende,
    rechtsradikale Dumpfbacken? "Leider gibt es in manchen Verbindungen rechtsradikale Tendenzen", sagt Gerhard Daniel.
    "Aber Verbindung ist nicht gleich Verbindung."</p>
  <p>Es gibt Corps, Burschenschaften, Turnerschaften, Sängerschaften, Landsmannschaften, selbst Akademische Rudervereine
    gelten als Studentenverbindung. übrigens ist bei den wenigsten das Fechten eine Pflichtübung. Bei der politischen
    Ausrichtung ist es so, dass die Corps traditionell als Institution politisch nicht in Erscheinung treten. Es
    herrscht das Toleranzprinzip, was sich auf alle Bereiche erstreckt. Sei es nun Politik, Religion, Herkunft oder
    Hautfarbe. So waren zum Beispiel Karl Marx und Wilhelm Liebknecht, Mitbegründer der SPD, ebenso Corpsstudenten wie
    Otto von Bismarck, der Widerstandskämpfer Graf von der Schulenburg und Robert Schumann. Die einzelnen Corpsburschen
    allerdings sollen sich durchaus politisch engagieren. Das Spektrum reicht dabei von links bis konservativ.</p>
  <p>Anders sieht es bei den Burschenschaften aus. Bei der deutschen Revolution 1848 waren sie "die Linken", die die
    progressive Strömung vertraten. Doch schon bald verkehrte sich die Progressivität ins Gegenteil: Die Nationaltümelei
    gewann die Oberhand. Daniel: "Heute vertreten einige Burschenschaften rechtsextreme Positionen, die niemand gut
    heißen kann. Doch es gibt auch gemäßigte Verbindungen, die sich von diesen Positionen abgewandt haben und 1993 sogar
    einen eigenen Dachverband, die Neuen Deutschen Burschaften, gegründet haben."</p>
  <p>Mit dem Trinken ist es in Studentenverbindungen nicht anders, als in Sportvereinen. Holger Sieg vom Corps
    Baltica-Borussia: "Wer Alkohol trinken möchte, hat dazu natürlich Gelegenheit. Aber das ritualisierte Trinken hat
    bei uns gar keinen Stellenwert mehr." Diese Tendenz bestätigt auch Gerhard Daniel: "Als ich in den 60er Jahren aktiv
    im Verbindungsleben mitgemischt habe, gehörte das Bier einfach dazu. Das war nun mal so. Heute gibt es immer mehr
    junge Menschen, die zwar in die Verbindung wollen, aber keinen Alkohol trinken möchten. Probleme deswegen gibt es
    nicht."</p>
  <p>Die beiden Paukanten stehen sich im Abstand von etwa 80 Zentimetern gegenüber. Die Beine etwas gespreizt, die
    Fußspitzen einwärts gedreht  für einen festeren Stand. Mit starren Gesichtern sehen sie sich an. Keiner kann die
    Augen seines Gegenübers erkennen, die hinter dem dicken schwarzen Drahtgeflecht der Paukbrille verborgen sind. Die
    Testanten, die gerade noch die Klinge desinfiziert haben, stützen den Fechtarm ihres Corpsbruders, lockern dessen
    Handgelenk. Als das Kommando ertönt, strecken die Paukanten den Schläger in die Höhe. Auf Mensur! Beim Kommando
    "Los!" ducken sich die Sekundanten, um die herabsausende Klinge nicht zu behindern.</p>
  <p>Sind Frauen in den Studentenverbindungen nur schmückendes Beiwerk? "Absolut nicht", sind sich die Mitglieder des
    Corps Baltica-Borussia wie auch Gerhard Daniel vom Verband Alter Corpsstudenten sofort einig. Daniel sagt: "Wenn man
    die Damen nicht integriert, kann die Verbindung bald zumachen. Doch es bleibt Fakt: Frauen können den meisten
    Verbindungen nicht beitreten. "Richtig", sagt Holger Sieg. "Es gibt bestimmte Bereiche, da wollen wir unter uns
    sein. Darin sehe ich aber keine Benachteiligung der Frauen. Genau so gut könnte man fragen: Warum nehmen wir keine
    Handwerkslehrlinge auf oder Studenten, die in anderen Städten studieren? Die Frauen haben sich damit lange
    arrangiert. Bereits kurz nachdem zu Beginn des vergangenen Jahrhunderts Frauen an Universitäten zugelassen wurden,
    gründeten sie Damenverbindungen. Nach dem allgemeinen Verbot von Studentenverbindungen während der Nazi-Diktatur
    fassten sie erst Anfang der 80er Jahre wieder Fuß.</p>
  <p>Als feministische Speerspitze in der von Männern dominierten Verbindungswelt sehen sie sich allerdings nicht. "Wir
    sind selbstbewusst, emanzipiert und verstehen uns als Teil der Korporiertenwelt", sagt Anna-Katharina Bexten von der
    Damenverbindung Helenia Monasteria in Münster, einer von 18 Damenverbindungen in Deutschland.Trotzdem schwingt
    natürlich ein gewisser Feminismus mit. Auch die Damen tragen Mütze und Burschenband Verbindungsstudentischen Idealen
    wie der Freundschaft auf Lebenszeit fühlen sich auch die Mitglieder der Helenia Monasteria verpflichtet, tragen
    Mütze und Band in den Farben silber-grün-gold. Außerdem fände sie es interessant zu beobachten, wie sich eine Gruppe
    von Frauen untereinander verhält, sagt die junge Studentin. "Und da ist es schwieriger, Frauen zusammenzuhalten, als
    einen Haufen junger Männer." "Warum?" "Na, wählen Sie mal drei Farben aus."</p>
  <p>"Halt!" Zum letzten Mal fallen die Sekundanten den Paukanten in die Arme. Die Partie ist vorbei. Die Sekundanten
    nehmen ihren Helm ab, kommandieren noch einmal: "Hoch bitte zum Ehrengang!". Um der Gegenseite Achtung zu erweisen,
    werden noch einmal alle vier Waffen, Sekundanten- und Mensurschläger in der Luft gegeneinander geschlagen. Dann
    heißt es: "Danke für gehabte Partie." Die Anspannung der Paukanten entlädt sich in einem breiten Grinsen. Alles ist
    gut gegangen. Die beiden Mediziner, die Paukärzte, haben nichts zu tun gehabt. Die Paukbrille wird abgeschnallt,
    knallrot sind die Striemen zu sehen, die die Lederbänder hinterlassen haben. Schon kommen die anderen
    Verbindungsstudenten zum Gratulieren. Später werden die Paukanten ein Bier zusammen trinken.</p>
</page-section>
