@import '../../stylesheets/generics/includables';

.section {
    display: inline-block;
}

p {
    color: $c-dark-hover;
}

ul {
    list-style-type: circle;

    li {
        margin-bottom: 10px;
    }
}

.page-header {
    height: 750px;
    background: url(http://www.suevo-guestphalia.de/img/events/000.jpg) center 25%;

    @include min-small {
        height: 500px;
    }
}


.current-event {
    cursor: help;

    &:hover {
        color: $c-green-darken;
    }
}

.room__wrapper {
    border: 1px solid $c-light-hover;
    border-radius: 5px;
    background: $c-white;
    margin: 10px 20%;
    max-width: 80%;
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color: $c-dark;
    text-align: center;

    img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }

    .content {
        padding: 10px;
    }

    .footer {
        padding: 10px;
        text-align: right;

        a {
            font-size: 13px;
            text-align: center;
            width: calc(50% - 20px);
        }
    }
}

ui-carousel {
    height: 100%;
}

.dots {
    height: 4px;
    width: 100%;
    padding: 0;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}

.dot {
    height: 100%;
    width: calc(100% / 6);
    background: rgba($c-light-hover, 0.7);

    &.active {
        background: rgba($c-dark-hover, 0.7);
    }
}

.dot:hover {
    cursor: pointer;
}

.event-cards__wrapper {
    display: grid;
    grid-column-gap: 25px;

    @include medium-max {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include small-medium {
        grid-template-columns: 1fr 1fr;
    }

    @include min-small {
        grid-template-columns: 1fr;
    }

    .event-card {
        width: 100%;
        font-size: 13px;
        margin: 0 auto;
        color: $c-dark-hover;

        .event-card__image {
            margin: 0 auto;
            width: 20vw;
            height: 20vw;
            border-radius: 50%;
            background-size: cover;
        }

        .event-card__separator {
            margin: 0 auto;
            height: 3px;
            width: 25px;
            background-color: $c-green;
        }

        h2 {
            font-size: 15px;
            color: $c-dark;
        }
    }
}
