<section class="page-header">
  <div class="page-header__container">
    <h2>Willkommen beim Corps</h2>
    <h1>Suevo-Guestphalia</h1>
    <a routerLink="/home" fragment="anchor-about" class="btn big">Mehr erfahren</a>
  </div>
</section>

<section class="link__container">
  <a routerLink="/events" class="btn big dark outline">
    <i class="fas fa-calendar-alt"></i>
    Unser semesterprogramm
  </a>
</section>


<!-- Aktuelles -->
<page-section [columns]="2">
  <div>
    <h1 class="arrow">was zuletzt geschah</h1>
    <iframe
        [src]="facebookURI | safe"
        width="{{deviceWidth}}" height="500"
        style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
  </div>

  <div>
    <h1 class="arrow">Die Events der nächsten 30 tage:</h1>

    <ng-container *ngIf="nextEvents.length > 0">
      <ul *ngIf="nextEvents.length > 0">
        <li *ngFor="let event of nextEvents" title="Beginn um  {{event.start | date:'H:mm'}}"
            class="current-event">
          {{event.title}} am {{event.start | date:'d. LLLL'}}
        </li>
      </ul>
      <br>
      <br>
      <p>Das Corps Suevo-Guestphalia wünscht ein erfolgreiches {{semester}}</p>
      <p>Alle Termine dieses Semesters sind unter <a routerLink="/events">Veranstalltungen</a> einzusehen.</p>
    </ng-container>

    <ng-container *ngIf="nextEvents.length === 0">
      <p>
        Leider keine, wir sind in den Semesterferien.
      </p>
      <p>Wir sehen uns im {{nextSemester}} wieder.</p>
    </ng-container>
  </div>
</page-section>


<!-- Parallax: Congregamini, confortamini, et nolite stare -->
<page-section
    [parallax]="true"
    [parallaxImage]="'http://www.suevo-guestphalia.de/img/events/054.jpg'"
    [bttButton]="false">
  <h2 class="heading">„Congregamini, confortamini, et nolite stare!“</h2>
</page-section>


<!-- Über uns -->
<page-section id="anchor-about" [columns]="2">
  <div>
    <h1 class="arrow">zimmer frei</h1>
    <div class="room__wrapper">
      <img src="http://www.suevo-guestphalia.de/img/corpshaus/000.jpg">
      <div class="content">
        <p>Zum Semester wird ein gemütliches Zimmer im schönen Wohnheim frei.</p>
      </div>
      <div class="footer">
        <a routerLink="/about" class="btn transparent outline">
          <i class="fas fa-home"></i> Mehr Details
        </a>
      </div>
    </div>
  </div>

  <div>
    <ui-carousel
        [infinite]="true"
        [fade]="false"
        [speed]="500"
        [autoPlaySpeed]="5000"
        [arrows]="false"
        [dots]="false"
        #uiCarousel>


      <ui-carousel-item>
        <h1 class="arrow">wir sind...</h1>
        <b>eine Münchner Studentenverbindung!</b>
        <p>Wir gestalten die Studienzeit in einem kleinen, übersichtlichen Freundeskreis sinnvoll und abwechslungsreich.
          Unsere Aktivitas besteht aus Studenten unterschiedlichster Herkunft, die an den verschiedenen Münchner
          Hochschulen studieren. Unsere "Alten Herren" (ehemalige Aktive, die das Studium abgeschlossen haben) sind in
          allen Bereichen des gesellschaftlichen, wirtschaftlichen, sozialen und kulturellen Lebens tätig. Seit jeher
          ist Freundschaft die Grundidee, die Grundlage unserer Gemeinschaft - sie bleibt es ein Leben lang. Die Treue
          und Verbundenheit zum Corps führt uns immer wieder zusammen. Das Zentrum unseres Gemeinschaftslebens ist unser
          Corpshaus in München-Schwabing.</p>
      </ui-carousel-item>


      <ui-carousel-item>
        <h1 class="arrow">wir bieten...</h1>
        <ul>
          <li>Weiterbildung durch Seminare und Vorträge, Exkursionen, Studienhilfe, corps-internes Mentoring-Programm,
            internationales Kontaktnetzwerk zu Industrie und Wirtschaft
          </li>
          <li>endcoole Partys, Festbälle, Segeltörns, Wanderwochen, Trekkingtouren und viele andere großartige
            Veranstaltungen
          </li>
          <li>Günstige Wohngelegenheiten in unserem Studentenwohnheim</li>
          <li>Freundschaften, die über das Studium hinausreichen</li>
          <p>Und: Wir treffen uns auch einfach mal so für einen Trip durch München oder für gemütliche Abende in unseren
            Gemeinschaftsräumen.</p>
        </ul>
      </ui-carousel-item>


      <ui-carousel-item>
        <h1 class="arrow">wir fördern...</h1>
        <p>
          neben dem Spaß am Studium die Entwicklung einer starken Persönlichkeit, die Vermittlung gesellschaftlicher
          Kompetenzen wie Verantwortungsbewusstsein, Zeitmanagement und Rhetorik, selbstbewusstes und sicheres
          Auftreten, Erfahrungen im Umgang mit und im Führen von Menschen und Gruppen aber auch Erfahrungen mit Fristen
          und Budgets oder der Organisation von Veranstaltungen.
        </p>
      </ui-carousel-item>


      <ui-carousel-item>
        <h1 class="arrow">wir stellen...</h1>
        <p>
          günstige, vollmöblierte WG-Zimmer in perfekter Lage zwischen LMU und TU sowie dem Englischen Garten. Die
          Zimmer sind ca. 20 m² groß und ausgestattet mit Bett, Kleiderschrank, Schreibtisch, Stuhl und Waschecke.
          Zusammen mit anderen Studenten der Wohngemeinschaft können die Mieter die Küche, Duschräume, Waschkeller,
          Studierräume, Kaminzimmer, Fernsehzimmer und andere Räumlichkeiten nutzen.
        </p>
      </ui-carousel-item>


      <ui-carousel-item>
        <h1 class="arrow">wir erwarten...</h1>
        <ul>
          <li>Weltoffenheit und Toleranz
          </li>
          <li>Spaß und Hingabe, in einer Gemeinschaft von Studenten unterschiedlichster Herkunft aktiv mitzuwirken
          </li>
          <li>das Studium an erster Stelle</li>
          <li>Bereitschaft zum Fechten</li>
        </ul>
      </ui-carousel-item>


      <ui-carousel-item>
        <h1 class="arrow">wir suchen...</h1>
        <ul>
          <li>männliche Studenten, die mehr wollen als einen akademischen Abschluss
          </li>
          <li>die offen sind, im Zusammenleben mit anderen ihren Charakter und ihre Persönlichkeit zu entwickeln
          </li>
          <li>die Verantwortung übernehmen und Menschen führen wollen</li>
          <li><b>MACHER</b></li>
        </ul>
        <p>
          <a routerLink="/contact">
            Interessiert?<br>
            Werde jetzt Teil unserer Gemeinschaft!
            Wenn du mehr erfahren möchtest, mail uns, ruf bei uns an oder komm direkt zu unserem Corpshaus mitten in
            Schwabing. Wir freuen uns auf deinen Besuch.
          </a>
        </p>
      </ui-carousel-item>


      <div class="dots">
        <div class="dot" [ngClass]="{'active': uiCarousel.currentItemIndex === 0}" (click)="uiCarousel.goTo(0)"></div>
        <div class="dot" [ngClass]="{'active': uiCarousel.currentItemIndex === 1}" (click)="uiCarousel.goTo(1)"></div>
        <div class="dot" [ngClass]="{'active': uiCarousel.currentItemIndex === 2}" (click)="uiCarousel.goTo(2)"></div>
        <div class="dot" [ngClass]="{'active': uiCarousel.currentItemIndex === 3}" (click)="uiCarousel.goTo(3)"></div>
        <div class="dot" [ngClass]="{'active': uiCarousel.currentItemIndex === 4}" (click)="uiCarousel.goTo(4)"></div>
        <div class="dot" [ngClass]="{'active': uiCarousel.currentItemIndex === 5}" (click)="uiCarousel.goTo(5)"></div>
      </div>
    </ui-carousel>
  </div>
</page-section>


<!-- Parallax: Congregamini, confortamini, et nolite stare -->
<page-section
    [parallax]="true"
    [parallaxImage]="'http://www.suevo-guestphalia.de/img/events/033.jpg'"
    [bttButton]="false">
  <h2 class="heading">„Ubi bene, ibi patria!“</h2>
</page-section>


<!-- 3 "zufällige" Veranstaltungen -->
<page-section>
  <h1 class="arrow">DREI ZUFÄLLIGE VERANSTALTUNGEN IN DEN LETZTEN MONATEN</h1>

  <p>Alle Veranstaltungen im <a routerLink="/events">Überblick</a></p>

  <div class="event-cards__wrapper">
    <div class="event-card">
      <div class="event-card__image"
           style="background-image: url(http://www.suevo-guestphalia.de/img/events/006.jpg)"></div>
      <h2>28.09.2017<br>Corpstag auf der Wiesn</h2>
      <div class="event-card__separator"></div>
      <p>
        Wie jedes Jahr waren wir auch heuer wieder am mittleren Wiesn-Sonntag zugegen, um unseren jährlichen Stammtisch
        im Schottenhamel abzuhalten. Bilder stehen in Kürze zur Verfügung.
      </p>
    </div>

    <div class="event-card">
      <div class="event-card__image"
           style="background-image: url(http://www.suevo-guestphalia.de/img/events/064.jpg)"></div>
      <h2>04.08.2016<br>Semesterabschlusskneipe</h2>
      <div class="event-card__separator"></div>
      <p>
        Die letzte Veranstaltung des SS 2016. Zwar in kleinem Kreis, doch mit großartiger Stimmung.
      </p>
    </div>

    <div class="event-card">
      <div class="event-card__image"
           style="background-image: url(http://www.suevo-guestphalia.de/img/events/058.jpg)"></div>
      <h2>05.07. - 07.07.2017<br>140. Stiftungsfest</h2>
      <div class="event-card__separator"></div>
      <p>
        Wir feiern es zwar jede Jahr, doch dieses mal war es ein Rundes Stiftungsfest, daher musste es etwas besonderes
        werden.
      </p>
    </div>
  </div>
</page-section>


<!-- Parallax: Semper porro bibtur! -->
<page-section
    [parallax]="true"
    [parallaxImage]="'http://www.suevo-guestphalia.de/img/events/065.jpg'"
    [bttButton]="false">
  <h2 class="heading">„Semper porro bibtur!“</h2>
</page-section>


<!-- weiterführende informationen -->
<page-section>
  <h1 class="arrow">Weiterführende Informationen</h1>

  <div class="info-cards__wrapper">
    <div class="info-card">
      <a routerLink="/information/history">
        <div class="info-card__image"
             style="background-image: url(http://www.suevo-guestphalia.de/img/events/061.jpg)"></div>
      </a>
      <h2>Geschichte</h2>
      <div class="info-card__separator"></div>
    </div>

    <div class="info-card">
      <a routerLink="/join">
        <div class="info-card__image"
             style="background-image: url(http://www.suevo-guestphalia.de/img/events/066.jpg)"></div>
      </a>
      <h2>Mitglied werden</h2>
      <div class="info-card__separator"></div>
    </div>

    <div class="info-card">
      <a routerLink="/information/fencing">
        <div class="info-card__image"
             style="background-image: url(http://www.suevo-guestphalia.de/img/events/050.jpg)"></div>
      </a>
      <h2>Fechten und Mensur</h2>
      <div class="info-card__separator"></div>
    </div>

    <div class="info-card">
      <a routerLink="/information/links">
        <div class="info-card__image"
             style="background-image: url(http://www.suevo-guestphalia.de/img/events/021.jpg)"></div>
      </a>
      <h2>Querverweise</h2>
      <div class="info-card__separator"></div>
    </div>

    <div class="info-card">
      <a href="https://de.wikipedia.org/wiki/Corps" target="_blank">
        <div class="info-card__image"
             style="background-image: url(http://www.suevo-guestphalia.de/img/events/069.jpg)"></div>
      </a>
      <h2><i class="fab fa-wikipedia"></i>
        Corps im Allgemeinen </h2>
      <div class="info-card__separator"></div>
    </div>
  </div>
</page-section>


<section class="link__container">
  <a href="https://www.facebook.com/SuevoGuestphalia?fref=ts" target="_blank" class="btn big dark outline">
    <i class="fab fa-facebook"></i>
    Besuche uns auf Facebook
  </a>
</section>
