@import '../../stylesheets/generics/includables';

.sidebar__blocker {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4;
    background-color: rgba($c-dark-hover, 0);
    transition: .3s;

    &.visible {
        background-color: rgba($c-dark-hover, .5);
    }
}

.sidebar__content {
    position: absolute;
    height: 100%;
    width: calc(100% - 50px);
    right: calc(50px - 100%);
    z-index: 4;
    background-color: $c-dark-hover;
    transition: .3s;

    &.visible {
        right: 0;
    }
}
