<div class="sidebar__blocker" [ngClass]="{'visible': visible}" (click)="closeSidebar()"></div>
<div class="sidebar__content" [ngClass]="{'visible': visible}">
  <navigation class="sidebar" [location]="'SIDEBAR'" [routes]="routes"></navigation>
</div>
