<ng-container *ngFor="let route of routes">
  <button *ngIf="route.route"
          routerLink="{{route.route.path}}"
          class="btn"
          [ngClass]="buttonClass"
          [routerLinkActive]="'active'">{{route.name}}
  </button>

  <button *ngIf="route.action"
          (click)="route.action()"
          class="btn"
          [ngClass]="buttonClass">{{route.name}}
  </button>

  <a *ngIf="route.url"
     href="{{route.url}}"
     target="_blank"
     class="btn"
     [ngClass]="buttonClass">{{route.name}}
  </a>
</ng-container>
