@import '../../stylesheets/generics/includables';

:host {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;


    &.sidebar {
        display: inline-block;

        button {
            background-color: $c-dark-hover;
            height: 40px;

            &.active {
                background-color: $c-dark;
            }
        }
    }

    &.footer {
        display: inline-block;
        height: calc(100% - 40px);
        padding: 20px;

        button {
            height: 20px;

            &:hover,
            &.active {
                background-color: $c-dark;
            }
        }
    }
}

.navigation__buttons {
    height: 50px;
    text-align: left;
}

button {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
